!!!
%html
  %head
    %title
      Betsy Lydle Smith -- Virtues Training
    = javascript_include_tag "application"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tag
  %body{:class => "bp #{controller.controller_name}_controller"}
    #spread
      #page_content
        = yield
